:root {
    --sidebar-width: 250px;
    --sidebar-border-radius: 20px;
    --primary-dark: #fff;
    /* --primary-dark: #1b2632; */
    --header-height: 60px;
}

.dashboard {
    padding-left: calc(var(--sidebar-width) + 20px);
    padding-top: calc(var(--header-height) + 10px);
}

.sidebar {
    animation-duration: 1s;
    /* width: var(--sidebar-width); */
    background-color: var(--primary-dark);
    border-top-right-radius: var(--sidebar-border-radius);
    border-bottom-right-radius: var(--sidebar-border-radius);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.header {
    height: var(--header-height);
    background-color: #f8f8f8;
    width: 100%;
    position: fixed;
    padding-left: calc(var(--sidebar-width) + 20px);
    top: 0;
    left: 0;
    border-bottom-right-radius: var(--sidebar-border-radius);
}

.sidebar_info {
    /* width: calc(var(--sidebar-width) - 20px); */
    padding: 4px 8px;
    /* border-bottom-right-radius: var(--sidebar-border-radius) !important; */
    position: fixed;
    bottom: 20px;
}

.sidebar_profile_image {
    width: 40px !important;
    height: 40px !important;
}

.pointer {
    cursor: pointer;
}